<div class="container">
<div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading">Add New Product</div>
     <div class="panel-body" *ngIf="mode==1">
           <form #f="ngForm" (ngSubmit)="onSavaProduct(f.value)">
            <div class="form-group">
               <label class="control-label">Designation</label>
               <input class="form-control" type="text" name="designation" ngModel> 
            </div>
            <div class="form-group">
                    <label class="control-label">Quantite</label>
                    <input class="form-control" type="number" name="quantite" ngModel> 
            </div>
            <div class="form-group">
                    <label class="control-label">Price</label>
                    <input class="form-control" type="text" name="price" ngModel> 
            </div>
            <button class="btn btn-success" type="submit">Save Product</button>
        </form>
    </div>
    <div class="panel-body" *ngIf="mode==2">
        <button class="btn-btn-success" (click)="onNewProduct()">New Product</button>
        <div class="form-group">
         <label class="control-label">ID    :</label><label>{{currentProduct.id}}</label>
        </div>
        <div class="form-group">
                <label class="control-label">Designation    :</label><label>{{currentProduct.designation}}</label>
        </div>
        <div class="form-group">
                <label class="control-label">price      :</label><label>{{currentProduct.price}}</label>
        </div>
        <div class="form-group">
                <label class="control-label">Quantite   :</label><label>{{currentProduct.quantite}}</label>
        </div>
    </div>
</div>
</div>
</div>
